extends layout

block title
  h2
    = t('nfc.title')
  if command
    span.label.label-success#labelCommand= command.buffer().toString('hex')
    |&nbsp;
  if response
    span.label.label-success#labelResponse= response.buffer().toString('hex')

block content
  if messages.errors
    each error in messages.errors
      div.alert.alert-danger(role="alert")
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true") &nbsp;
        = error.msg

  div.panel.panel-default
    div.panel-heading
      =t('nfc.title')
    table.table: tbody
      tr
        td= t('nfc.getParameterRSSI')
        td: a.btn.btn-default(href='/nfc/getParameterRSSI')= t('nfc.getParameterRSSI')
        td= getParameterRSSI ? getParameterRSSI.parameter : ""
      tr
        td= t('nfc.setParameterRSSI')
        td
          form.form-inline(action='/nfc/setParameterRSSI' method="get")
            - var n = -110
            select.form-control(name="parameterRSSI" value="#{parameterRSSI ? parameterRSSI : ''}")
              while n <= -10
                option= n++
            button.btn.btn-default(type="submit")= t('nfc.setParameterRSSI')
        td= setParameterRSSI ? setParameterRSSI : ""
      tr
        td= t('nfc.getDateTime')
        td: a.btn.btn-default(href='/nfc/getDateTime')= t('nfc.getDateTime')
        td= getDateTime ? "" + getDateTime.year + "-" + getDateTime.month + "-" + getDateTime.day + " " + getDateTime.hour + ":" + getDateTime.minute + ":" + getDateTime.second : ""
      tr
        td= t('nfc.setDateTime')
        td
          form.form-inline(action='/nfc/setDateTime' method="get")
            input.form-control#dateTime(type='text' name="dateTime" placeholder="YYYYMMDDHHMISS" value="#{dateTime? dateTime: ''}")
            button.btn.btn-default(type="submit")= t('nfc.setDateTime')
        td= setDateTime ? setDateTime : ""
      tr
        td= t('nfc.stopRFWork')
        td: a.btn.btn-default(href='/nfc/stopRFWork')= t('nfc.stopRFWork')
        td= stopRFWork ? stopRFWork : ""
      tr
        td= t('nfc.startRFWork')
        td: a.btn.btn-default(href='/nfc/startRFWork')= t('nfc.startRFWork')
        td= startRFWork ? startRFWork : ""
      tr
        td= t('nfc.resetReader')
        td: a.btn.btn-default(href='/nfc/resetReader')= t('nfc.resetReader')
        td= resetReader ? resetReader : ""
      tr
        td= t('nfc.getFirmwareVersion')
        td: a.btn.btn-default(href='/nfc/getFirmwareVersion')= t('nfc.getFirmwareVersion')
        td= getFirmwareVersion ? "" + getFirmwareVersion.flag + "." +  getFirmwareVersion.major + "." + getFirmwareVersion.minor + "." + getFirmwareVersion.release : ""
      tr
        td= t('nfc.getTrigState')
        td: a.btn.btn-default(href='/nfc/getTrigState')= t('nfc.getTrigState')
        td= getTrigState ? getTrigState.state.toString(2) : ""
      tr
        td= t('nfc.getRelayState')
        td: a.btn.btn-default(href='/nfc/getRelayState')= t('nfc.getRelayState')
        td
          if getRelayState
            if getRelayState.relay1
              span.label.label-success
                |Relay 1&nbsp;
                span.glyphicon.glyphicon-ok
            else
              span.label.label-danger
                | Relay 1&nbsp;
                span.glyphicon.glyphicon-remove
            |&nbsp;&nbsp;
            if getRelayState.relay2
              span.label.label-success
                |Relay 2&nbsp;
                span.glyphicon.glyphicon-ok
            else
              span.label.label-danger
                |Relay 2&nbsp;
                span.glyphicon.glyphicon-remove
      tr
        td= t('nfc.setRelayState')
        td
          form.form-inline(action='/nfc/setRelayState' method="get")
            label.checkbox-inline
              - var checked1 = setRelayState ? (setRelayState.relay1 ? setRelayState.relay1 : false) : false;
              input(type="checkbox" name="relay1" value="relay1" checked=(checked1 ? "checked" : undefined))
              |Relay 1
            label.checkbox-inline
              - var checked2 = setRelayState ? (setRelayState.relay2 ? setRelayState.relay2 : false) : false;
              input(type="checkbox" name="relay2"  value="relay2" checked=(checked2 ? "checked" : undefined))
              |Relay 2
            button.btn.btn-default(type="submit")= t('nfc.setRelayState')
        td= setRelayState ? "DONE" : ""
      tr
        td= t('nfc.masterAcknowledge')
        td: a.btn.btn-default(href='/nfc/masterAcknowledge')= t('nfc.masterAcknowledge')
        td= masterAcknowledge ? masterAcknowledge : ""

