extends layout

block title
  h2
    = t('nfc.title')

block content
  if messages.errors
    each error in messages.errors
      div.alert.alert-danger(role="alert")
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true") &nbsp;
        = error.msg

  div.panel.panel-default
    div.panel-heading
      =t('nfc.title')
    table.table: tbody
      tr
        td= t('nfc.getDateTime')
        td: a.btn.btn-default(href='/nfc/getDateTime')= t('nfc.getDateTime')
        td= getDateTime ? getDateTime.buffer().toString('hex') : ""
      tr
        td= t('nfc.setDateTime')
        td
          form.form-inline(action='/nfc/setDateTime' method="get")
            input.form-control#dateTime(type='text' name="dateTime" placeholder="YYMMDDHHMISS" value="#{dateTime? dateTime: ''}")
            button.btn.btn-default(type="submit")= t('nfc.setDateTime')
        td= setDateTime ? setDateTime.buffer().toString('hex') : ""
      tr
        td= t('nfc.stopRFWork')
        td: a.btn.btn-default(href='/nfc/stopRFWork')= t('nfc.stopRFWork')
        td= stopRFWork ? stopRFWork.buffer().toString('hex') : ""
      tr
        td= t('nfc.startRFWork')
        td: a.btn.btn-default(href='/nfc/startRFWork')= t('nfc.startRFWork')
        td= startRFWork ? startRFWork.buffer().toString('hex') : ""
      tr
        td= t('nfc.resetReader')
        td: a.btn.btn-default(href='/nfc/resetReader')= t('nfc.resetReader')
        td= resetReader ? resetReader.buffer().toString('hex') : ""
      tr
        td= t('nfc.getFirmwareVersion')
        td: a.btn.btn-default(href='/nfc/getFirmwareVersion')= t('nfc.getFirmwareVersion')
        td= getFirmwareVersion ? getFirmwareVersion.buffer().toString('hex') : ""
      tr
        td= t('nfc.getTrigState')
        td: a.btn.btn-default(href='/nfc/getTrigState')= t('nfc.getTrigState')
        td= getTrigState ? getTrigState.buffer().toString('hex') : ""
      tr
        td= t('nfc.getRelayState')
        td: a.btn.btn-default(href='/nfc/getRelayState')= t('nfc.getRelayState')
        td= getRelayState ? getRelayState.fields.state.toString(2) : ""
      tr
        td= t('nfc.setRelayState')
        td
          form.form-inline(action='/nfc/setRelayState' method="get")
            label.checkbox-inline
              - var checked1 = relay1? true: false
              - var checkedAttr1 = checked1? "checked":""
              input(type="checkbox" name="relay1" value="relay1" checked=(checked1?"checked":undefined))
              |Relay 1
            label.checkbox-inline
              - var checked2 = relay2? true: false
              - var checkedAttr2 = checked2? "checked":""
              input(type="checkbox" name="relay2"  value="relay2" checked=(checked2?"checked":undefined))
              |Relay 2
            button.btn.btn-default(type="submit")= t('nfc.setRelayState')
        td= setRelayState ? setRelayState.buffer().toString('hex') : ""
      tr
        td= t('nfc.setRelayState')
        td
          form.form-inline(action='/nfc/setRelayState' method="get")
            input.form-control#relayState(type='text' name="relayState" placeholder="X" value="#{relayState? relayState: ''}")
            button.btn.btn-default(type="submit")= t('nfc.setRelayState')
        td= setRelayState ? setRelayState.buffer().toString('hex') : ""
      tr
        td= t('nfc.masterAcknowledge')
        td: a.btn.btn-default(href='/nfc/masterAcknowledge')= t('nfc.masterAcknowledge')
        td= masterAcknowledge ? masterAcknowledge : ""

    